<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="fr.insapp.insapp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_CALENDAR" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:name=".App"
        android:allowBackup="false"
        tools:replace="android:allowBackup"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/InsappMaterialTheme">

        <activity
            android:name=".LauncherActivity"
            android:label="@string/app_name"
            android:configChanges="orientation|keyboardHidden|screenSize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="android.app.shortcuts"
                android:resource="@xml/shortcuts" />
        </activity>

        <activity
            android:name=".activities.IntroActivity"
            android:configChanges="orientation|keyboardHidden|screenSize">
        </activity>

        <activity
            android:name=".activities.SignInActivity"
            android:label="@string/login"
            android:parentActivityName=".activities.IntroActivity"
            android:configChanges="orientation|keyboardHidden|screenSize">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.IntroActivity" />
        </activity>

        <activity
            android:name=".activities.LegalConditionsActivity"
            android:label="@string/legal_conditions"
            android:parentActivityName=".activities.IntroActivity"
            android:configChanges="orientation|keyboardHidden|screenSize">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.IntroActivity" />
        </activity>

        <activity
            android:name=".activities.CreditsActivity"
            android:label="@string/credits"
            android:parentActivityName=".activities.MainActivity"
            android:configChanges="orientation|keyboardHidden|screenSize">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.MainActivity" />
        </activity>

        <activity
            android:name=".activities.SettingsActivity"
            android:label="@string/settings"
            android:parentActivityName=".activities.MainActivity"
            android:configChanges="orientation|keyboardHidden|screenSize">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.MainActivity" />
        </activity>

        <activity
            android:name=".activities.ProfileActivity"
            android:label="@string/profile"
            android:configChanges="orientation|keyboardHidden|screenSize">
        </activity>

        <activity
            android:name=".activities.MainActivity"
            android:label="@string/app_name"
            android:configChanges="orientation|keyboardHidden|screenSize">
        </activity>

        <activity
            android:name=".activities.SearchActivity"
            android:label="@string/search_results"
            android:parentActivityName=".activities.MainActivity"
            android:configChanges="orientation|keyboardHidden|screenSize">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.MainActivity" />
            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />

            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activities.ClubActivity"
            android:theme="@style/InsappMaterialTheme.TransparentTheme"
            android:parentActivityName=".activities.MainActivity"
            android:configChanges="orientation|keyboardHidden|screenSize">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.MainActivity" />
        </activity>

        <activity
            android:name=".activities.PostActivity"
            android:label="@string/post"
            android:parentActivityName=".activities.MainActivity"
            android:configChanges="orientation|keyboardHidden|screenSize">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.MainActivity" />
            <intent-filter>
                <action android:name=".activities.PostActivity" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activities.EventActivity"
            android:theme="@style/InsappMaterialTheme.TransparentTheme"
            android:parentActivityName=".activities.MainActivity"
            android:configChanges="orientation|keyboardHidden|screenSize">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.MainActivity" />
            <intent-filter>
                <action android:name=".activities.EventActivity" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activities.AttendeesActivity"
            android:label="@string/event_participants"
            android:parentActivityName=".activities.EventActivity"
            android:configChanges="orientation|keyboardHidden|screenSize">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.EventActivity" />
        </activity>

        <activity
            android:name=".activities.BarcodeDetectorActivity"
            android:label="@string/barcode_scan"
            android:parentActivityName=".activities.SettingsActivity"
            android:configChanges="orientation|keyboardHidden|screenSize">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.SettingsActivity" />
            <meta-data
                android:name="com.google.android.gms.vision.DEPENDENCIES"
                android:value="barcode" />
        </activity>

        <service
            android:name=".notifications.FirebaseMessaging">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <service
            android:name=".notifications.FirebaseService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="2fc035eb84a4d714ea10291b4587818c05a74a2d" />
    </application>
</manifest>